.menuButton {
  font-family: inherit;
  font-size: 5vw;
  align: center;
  border: 0;
  border-radius: 1em;
  width: calc(100% - 2em);
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

#hostButton {
  background-color: #ff6600;
}

#hostButton:hover {
  background-color: #ff8822;
}

#hostButton:active {
  background-color: #dd4400;
  color: #000;
}

#clientButton {
  background-color: #ff6600;
}

#clientButton:hover {
  background-color: #ff8822;
}

#clientButton:active {
  background-color: #dd4400;
  color: #000;
}
